/************************************************
GENERAL
*************************************************/
body {
    font-family: 'Asul', sans-serif;
}
section {
    color: white;
    font-size: 25px;
}

a {
    text-decoration: none; 
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%
}

h3 {
    margin: 0 0 1em 0;
}

/************************************************
HEADER
*************************************************/
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}
#logo {
    text-align: center;
    margin: 0;
}

h1 {
   font-family: 'Asul', sans-serif;
    margin: 15px 0;
    font-size: 40px;
    line-height: 0.8em;
}

h2 {
    font-size: 35px;
    margin: -5px 0 0;
    font-weight: normal;
}

/************************************************
NAVIGATION
*************************************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;    
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
    font-size: 30px;
}
/************************************************
FOOTER
*************************************************/
footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: white; 
}

.social-media-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
        
}

/************************************************
PAGE PORTFOLIO  
*************************************************/
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: lightgrey;
    color: #bdc3c7;
    
}

gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: black;
    color: white;
    
}

/************************************************
ABOUT ME PAGE
*************************************************/
.profile-photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 15%;
        
}

/************************************************
CONTACT PAGE 
*************************************************/
.contact-info{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px; 
}
.contact-info li.mail a {
    background-image: url('../img/mail.jpg');
}

.contact-info li.twitter a {
    background-image: url('../img/twitter.jpg');
}

/************************************************
COLORS
************************************************/
body {
    background-image: url("http://fullhdpictures.com/wp-content/uploads/2015/10/HD-Los-Angeles-Dodgers-Wallpapers.jpg");
    background-size: 90%
}

a {
    color: black;
    
}



h1,h2 {
    color:  #fff;
}

nav {
    background: none;
}

/*Pseudo-Class */
nav a, nav a:visited{
    color: #fff;
}

nav a.selected, nav a:hover {
    color: white;
}

/************************************************
MEDIA Queries
*************************************************/
/*TWO COLUMN LAYOUT*/

@media screen and (min-width: 480px){
    #primary {
        width: 50%;
        float: left;
    }
    
    #secondary {
        width: 40%;
        float: right
    }
    /*THREE COLUMN PORTFOLIO*/
    #gallery li{
        width: 28.3333%;
    }
    #gallery li:nth-child(4n){
        clear: left;
    }
    /*ABOUT PAGE*/
    .profile-photo {
        float: right;
        margin: 0.5% 80px 0;
    }
}

@media screen and (min-width:60px){
    /*NAV*/
    nav {
        background: none;
        float: left;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
        margin-bottom: 25px;
    }
}
